<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
      <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    </head>
    <body>
        <div>Microblog: <a href="{{ url_for('index') }}">Home</a></div>
        <div>Projects: <a href="{{ url_for('projects') }}">Projects</a></div>
        <div>Projects: <a href="{{ url_for('contracts') }}">Contracts</a></div>
        <hr>
        <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
        {% block content %}{% endblock %}
    </body>
</html>
